<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>cancel</title>
	</head>
	<body>
		<div
			style="
				display: flex;
				align-items: center;
				justify-content: center;
				width: 95vw;
				height: 95vh;
				flex-direction: column;
				overflow: hidden;
			"
		>
			<h1 style="color: red; font-size: calc(2vh + 20px)">
				Transaction canceled!
			</h1>
		</div>
	</body>
</html>
